.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 8324px;
  position: relative;
  overflow: hidden;
}
.div__div2 {
  position: absolute;
  inset: 0;
}
.div__rectangle-54 {
  background: #0c0c0c;
  width: 1534px;
  height: 637px;
  position: absolute;
  left: 0px;
  top: 7687px;
}
.div___2 {
  width: 511px;
  height: 336.28px;
  position: static;
}
.div__div3 {
  color: #efefef;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 541px;
  top: 7899.85px;
  width: 305.64px;
  height: 241.43px;
}
.div__f-a-q {
  color: #efefef;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 803.69px;
  top: 7899.85px;
  width: 189.44px;
  height: 177.84px;
}
.div__line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 0 0 0;
  width: 511px;
  height: 0px;
  position: absolute;
  left: 541px;
  top: 7871.83px;
}
.div__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 541px;
  top: 7805px;
  width: 235.6px;
  height: 38.8px;
}
.div___3 {
  width: 354.55px;
  height: 282.39px;
  position: static;
}
.div__line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 0 0 0;
  width: 352.36px;
  height: 0px;
  position: absolute;
  left: 1099.2px;
  top: 7871.83px;
}
.div__div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 1099.2px;
  top: 7805px;
  width: 143.8px;
  height: 38.8px;
}
.div___7-499-229-33-33-info-ftc-vin-10-00-20-00 {
  color: #efefef;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 1097px;
  top: 7898.77px;
  width: 350.16px;
  height: 188.62px;
}
.div___1 {
  width: 349.81px;
  height: 203.5px;
  position: static;
}
.div___12 {
  color: #efefef;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 7818px;
  width: 349.81px;
  height: 203.5px;
}
.div___9 {
  position: absolute;
  inset: 0;
}
.div__div6 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 375.66px;
  top: 6950px;
  width: 706.76px;
  height: 65.33px;
}
.div__line-222 {
  margin-top: -3px;
  border-style: solid;
  border-color: #0a51cb;
  border-width: 3px 0 0 0;
  width: 69.29px;
  height: 0px;
  position: absolute;
  left: 618.03px;
  top: 7040.22px;
}
.div__group-29 {
  width: 552.13px;
  height: 459.41px;
  position: static;
}
.div__rectangle-60 {
  background: #0a51cb;
  width: 552.13px;
  height: 459.41px;
  position: absolute;
  left: 858.87px;
  top: 7134.59px;
  box-shadow: 2px 4px 11px 1px rgba(0, 0, 0, 0.25),
    2px 4px 11px 1px rgba(0, 0, 0, 0.25);
}
.div__div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 882.01px;
  top: 7205.69px;
  width: 434.45px;
  height: 154.23px;
}
.div-7-span {
  text-transform: uppercase;
}
.div-7-span2 {
  text-transform: lowercase;
}
.div___100-80-000-000 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 882.01px;
  top: 7451.8px;
  width: 451.37px;
  height: 129.07px;
}
.div__line-223 {
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px 0 0 0;
  width: 52.39px;
  height: 0px;
  position: absolute;
  left: 882.01px;
  top: 7402.58px;
}
.div___13 {
  width: 799.26px;
  height: 153.48px;
  position: static;
}
.div__rectangle-61 {
  background: #ffffff;
  width: 799.26px;
  height: 153.48px;
  position: absolute;
  left: 40px;
  top: 7134.59px;
  box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.15);
}
.div__future-technologies-company-ftc {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 123.11px;
  top: 7179.46px;
  width: 579.69px;
  height: 63.75px;
}
.future-technologies-company-ftc-span {
  text-transform: uppercase;
}
.future-technologies-company-ftc-span2 {
  text-transform: lowercase;
}
.div__div8 {
  color: #0a51cb;
  text-align: left;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 800;
  text-transform: lowercase;
  position: absolute;
  left: 83.09px;
  top: 7175.91px;
  width: 24.62px;
  height: 70.84px;
}
.div__vector-14 {
  width: 14.36px;
  height: 7.08px;
  position: absolute;
  left: 617.89px;
  top: 7207.79px;
  overflow: visible;
}
.div___22 {
  width: 799.26px;
  height: 158.67px;
  position: static;
}
.div__rectangle-62 {
  background: #ffffff;
  width: 799.26px;
  height: 158.67px;
  position: absolute;
  left: 40px;
  top: 7297.41px;
  box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.15);
}
.div__div9 {
  color: #0a51cb;
  text-align: left;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 800;
  text-transform: lowercase;
  position: absolute;
  left: 83.09px;
  top: 7340.13px;
  width: 24.62px;
  height: 73.23px;
}
.div__future-technologies-company-ftc2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 123.11px;
  top: 7343.79px;
  width: 548.91px;
  height: 65.91px;
}
.future-technologies-company-ftc-2-span {
}
.future-technologies-company-ftc-2-span2 {
  text-transform: lowercase;
}
.div__vector-15 {
  width: 14.36px;
  height: 7.32px;
  position: absolute;
  left: 617.89px;
  top: 7373.08px;
  overflow: visible;
}
.div___32 {
  width: 799.26px;
  height: 127.56px;
  position: static;
}
.div__rectangle-63 {
  background: #ffffff;
  width: 799.26px;
  height: 127.56px;
  position: absolute;
  left: 40px;
  top: 7466.44px;
  box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.15);
}
.div__div10 {
  color: #0a51cb;
  text-align: left;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 800;
  text-transform: lowercase;
  position: absolute;
  left: 83.09px;
  top: 7471.35px;
  width: 24.62px;
  height: 58.87px;
}
.div__div11 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 123.11px;
  top: 7474.29px;
  width: 518.13px;
  height: 52.98px;
}
.div-11-span {
}
.div-11-span2 {
  text-transform: lowercase;
}
.div__vector-16 {
  width: 14.36px;
  height: 5.89px;
  position: absolute;
  left: 617.89px;
  top: 7497.84px;
  overflow: visible;
}
.div___5 {
  position: absolute;
  inset: 0;
}
.div__rectangle-64 {
  background: linear-gradient(
    to left,
    rgba(0, 20, 49, 0.7),
    rgba(0, 20, 49, 0.7)
  );
  width: 1676px;
  height: 728px;
  position: absolute;
  left: 0px;
  top: 3923px;
  object-fit: cover;
}
.div__div12 {
  width: 1268px;
  height: 157.7px;
  position: static;
}
.div__group-5 {
  width: 291.18px;
  height: 157.7px;
  position: static;
}
.div___960696 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 417.78px;
  top: 4189.15px;
  width: 254.42px;
  height: 157.7px;
}
._960696-span {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._960696-span2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._960696-span3 {
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.div__line-16 {
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 291.18px;
  height: 0px;
  position: absolute;
  left: 417.54px;
  top: 4288.2px;
}
.div__group-3 {
  width: 291.18px;
  height: 157.7px;
  position: static;
}
.div___932 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 97px;
  top: 4189.15px;
  width: 160.37px;
  height: 157.7px;
}
._932-span {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._932-span2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._932-span3 {
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.div__line-18 {
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 291.18px;
  height: 0px;
  position: absolute;
  left: 97px;
  top: 4287.71px;
}
.div__group-4 {
  width: 291.65px;
  height: 157.7px;
  position: static;
}
.div___67-24 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 738.08px;
  top: 4189.15px;
  width: 165.32px;
  height: 157.7px;
}
._67-24-span {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._67-24-span2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._67-24-span3 {
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.div__line-17 {
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 291.18px;
  height: 0px;
  position: absolute;
  left: 738.56px;
  top: 4288.2px;
}
.div__group-6 {
  width: 305.9px;
  height: 157.7px;
  position: static;
}
.div___109500 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 1059.1px;
  top: 4189.15px;
  width: 305.9px;
  height: 157.7px;
}
._109500-span {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._109500-span2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
._109500-span3 {
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.div__line-15 {
  width: 291.18px;
  height: 0px;
  position: absolute;
  left: 1059.55px;
  top: 4287px;
  overflow: visible;
}
.div__div13 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 413px;
  top: 4029px;
  width: 584px;
}
.div__div14 {
  width: 329.81px;
  height: 73px;
  position: static;
}
.div__rectangle-2 {
  border-radius: 36px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 329.81px;
  height: 59.19px;
  position: absolute;
  left: 699.21px;
  top: 4450px;
}
.div__div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 742.08px;
  top: 4465.78px;
  width: 244.06px;
  height: 57.22px;
}
.div__div16 {
  width: 321.85px;
  height: 74px;
  position: static;
}
.div__rectangle-22 {
  background: #0a51cb;
  border-radius: 36px;
  width: 321.85px;
  height: 60px;
  position: absolute;
  left: 362.52px;
  top: 4449px;
}
.div__div17 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 401.14px;
  top: 4465px;
  width: 245.68px;
  height: 58px;
}
.div__line-23 {
  margin-top: -3px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px 0 0 0;
  width: 56.74px;
  height: 0px;
  position: absolute;
  left: 663.42px;
  top: 4111px;
}
.div___4 {
  position: absolute;
  inset: 0;
}
.div__div18 {
  width: 344.74px;
  height: 53.35px;
  position: static;
}
.div__rectangle-23 {
  border-radius: 36px;
  border-style: solid;
  border-color: #002c54;
  border-width: 2px;
  width: 344.74px;
  height: 53.35px;
  position: absolute;
  left: 692.79px;
  top: 3693.65px;
}
.div__div19 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 730.71px;
  top: 3707.88px;
  width: 255.11px;
  height: 25.79px;
}
.div__div20 {
  width: 283.18px;
  height: 53.38px;
  position: static;
}
.div__rectangle-24 {
  background: #0a51cb;
  border-radius: 36px;
  width: 283.18px;
  height: 53.38px;
  position: absolute;
  left: 398.97px;
  top: 3693.62px;
}
.div__div21 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 461.02px;
  top: 3707.85px;
  width: 145.54px;
  height: 25.8px;
}
.div__div22 {
  width: 629.07px;
  height: 405.57px;
  position: absolute;
  left: 172.06px;
  top: 3112.05px;
  overflow: visible;
}
.div__div23 {
  color: #133f8d;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 587px;
  top: 3063px;
  width: 207.98px;
  height: 23.65px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div24 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 387.21px;
  top: 3130.45px;
  width: 742.78px;
  height: 47.3px;
}
.div___1-2 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 172px;
  top: 3273px;
  width: 485px;
  height: 136px;
}
._1-2-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
._1-2-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div___24 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 172px;
  top: 3474px;
  width: 491px;
  height: 136px;
}
._24-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
._24-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__open-invest-system {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 764.25px;
  top: 3273.23px;
  width: 612.67px;
  height: 135.77px;
}
.open-invest-system-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.open-invest-system-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div___100-100 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 782.33px;
  top: 3473.81px;
  width: 612.67px;
  height: 135.77px;
}
._100-100-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
._100-100-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__div25 {
  width: 87.09px;
  height: 74.46px;
  position: static;
}
.div__ellipse-4 {
  background: #194dd2;
  border-radius: 50%;
  width: 87.09px;
  height: 74.46px;
  position: absolute;
  left: 86px;
  top: 3273.23px;
}
.div__vaadin-database {
  width: 38.7px;
  height: 33.09px;
  position: absolute;
  left: 110.19px;
  top: 3293.91px;
  overflow: visible;
}
.div__ellipse-5 {
  background: #194dd2;
  border-radius: 50%;
  width: 87.09px;
  height: 74.46px;
  position: absolute;
  left: 86px;
  top: 3473.83px;
}
.div__vaadin-money-withdraw {
  width: 38.7px;
  height: 33.09px;
  position: absolute;
  left: 110.19px;
  top: 3494.51px;
  overflow: visible;
}
.div__ellipse-7 {
  background: #194dd2;
  border-radius: 50%;
  width: 87.09px;
  height: 74.46px;
  position: absolute;
  left: 682.28px;
  top: 3473.83px;
}
.div__vaadin-bar-chart-h {
  width: 38.7px;
  height: 33.09px;
  position: absolute;
  left: 706.47px;
  top: 3494.51px;
  overflow: visible;
}
.div__ellipse-6 {
  background: #194dd2;
  border-radius: 50%;
  width: 87.09px;
  height: 74.46px;
  position: absolute;
  left: 682.28px;
  top: 3273.23px;
}
.div__vaadin-cluster {
  width: 38.7px;
  height: 33.09px;
  position: absolute;
  left: 706.47px;
  top: 3293.91px;
  overflow: visible;
}
.div___23 {
  position: absolute;
  inset: 0;
}
.div__div26 {
  width: 236px;
  height: 60px;
  position: static;
}
.div__rectangle-25 {
  background: #0a51cb;
  border-radius: 36px;
  width: 236px;
  height: 60px;
  position: absolute;
  left: 782px;
  top: 1474px;
}
.div__div27 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 822px;
  top: 1490px;
  width: 155.65px;
}
.div___14 {
  width: 458px;
  height: 356px;
  position: static;
}
.div__rectangle-30 {
  background: #ffffff;
  width: 458px;
  height: 356px;
  position: absolute;
  left: 67px;
  top: 1616px;
}
.div__div28 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 196px;
  top: 1666px;
  width: 240px;
  height: 54px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div__line-2 {
  margin-top: -2px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 2px 0 0 0;
  width: 42.75px;
  height: 0px;
  position: absolute;
  left: 149.51px;
  top: 1671.84px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.div__it-e-commerce {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  left: 97px;
  top: 1754px;
  width: 390px;
  height: 166px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.it-e-commerce-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.it-e-commerce-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__group {
  width: 2.61%;
  height: 0.48%;
  position: absolute;
  right: 88.85%;
  left: 8.54%;
  bottom: 79.34%;
  top: 20.18%;
  overflow: visible;
}
.div___25 {
  width: 423px;
  height: 356px;
  position: static;
}
.div__rectangle-302 {
  background: #ffffff;
  width: 423px;
  height: 356px;
  position: absolute;
  left: 549px;
  top: 1616px;
}
.div__div29 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 652px;
  top: 1672px;
  width: 264px;
  height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div__line-25 {
  margin-top: -2px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 2px 0 0 0;
  width: 42.75px;
  height: 0px;
  position: absolute;
  left: 624.96px;
  top: 1671.84px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.div__div30 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  left: 584px;
  top: 1756px;
  width: 353px;
  height: 126px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div__group2 {
  width: 2.52%;
  height: 0.48%;
  position: absolute;
  right: 58.22%;
  left: 39.26%;
  bottom: 79.4%;
  top: 20.12%;
  overflow: visible;
}
.div___33 {
  width: 433.54px;
  height: 356px;
  position: static;
}
.div__rectangle-303 {
  background: #ffffff;
  width: 433.54px;
  height: 356px;
  position: absolute;
  left: 996px;
  top: 1616px;
}
.div__div31 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 1102.36px;
  top: 1674px;
  width: 266.44px;
  height: 34px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div__line-26 {
  margin-top: -2px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 2px 0 0 0;
  width: 42.75px;
  height: 0px;
  position: absolute;
  left: 1074.47px;
  top: 1671.84px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.div__old-school-new-sexy {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  left: 1031.45px;
  top: 1757px;
  width: 351.31px;
  height: 125px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.old-school-new-sexy-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.old-school-new-sexy-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__group3 {
  width: 2.61%;
  height: 0.48%;
  position: absolute;
  right: 28.29%;
  left: 69.1%;
  bottom: 79.4%;
  top: 20.12%;
  overflow: visible;
}
.div___26 {
  width: 1338px;
  height: 547px;
  position: static;
}
.div__div32 {
  color: #141b46;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 680.11px;
  top: 1095px;
  width: 691.47px;
  height: 108px;
}
.div___122 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  left: 684.35px;
  top: 1236px;
  width: 712.65px;
  height: 167px;
}
.div__image-1 {
  background: #194dd2;
  border-radius: 5px;
  width: 269px;
  height: 327px;
  position: absolute;
  left: 59px;
  top: 987px;
}
.div__image-3 {
  border-radius: 5px;
  width: 609.93px;
  height: 203px;
  position: absolute;
  left: 59px;
  top: 1331px;
  object-fit: cover;
}
.div__image-4 {
  border-radius: 5px;
  width: 321.91px;
  height: 327px;
  position: absolute;
  left: 341.02px;
  top: 987px;
  object-fit: cover;
}
.div__div33 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 1161px;
  width: 240px;
  height: 108px;
}
.div___34 {
  position: absolute;
  inset: 0;
}
.div__rectangle-57 {
  background: #1a1a1a;
  width: 1920px;
  height: 748px;
  position: absolute;
  left: 0px;
  top: 2161px;
}
.div__div34 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 478px;
  top: 2368px;
  width: 401px;
}
.div__div35 {
  width: 300px;
  height: 60px;
  position: static;
}
.div__rectangle-26 {
  background: #194dd2;
  border-radius: 36px;
  width: 300px;
  height: 60px;
  position: absolute;
  left: 478px;
  top: 2643px;
}
.div__div36 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 497px;
  top: 2659px;
}
.div__line-252 {
  margin-top: -3px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px 0 0 0;
  width: 65px;
  height: 0px;
  position: absolute;
  left: 484px;
  top: 2575px;
}
.div__image-21 {
  width: 436px;
  height: 748px;
  position: absolute;
  left: 0px;
  top: 2161px;
  object-fit: cover;
}
.div__group-30 {
  width: 559px;
  height: 596px;
  position: static;
}
.div__line-6 {
  margin-top: -2px;
  border-width: 2px 0 0 0;
  border-style: dashed;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 47.471773624420166%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  opacity: 0.5;
  width: 596px;
  height: 0px;
  position: absolute;
  left: 908px;
  top: 2834px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.div__ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 865px;
  top: 2326px;
}
.div___15 {
  color: #194dd2;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 901px;
  top: 2342px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div37 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 956px;
  top: 2309px;
  width: 468px;
  height: 119px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div-37-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.div-37-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__ellipse-3 {
  background: #194dd2;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 865px;
  top: 2492px;
}
.div___27 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 897px;
  top: 2508px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div___100 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 956px;
  top: 2475px;
  width: 457px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._100-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
._100-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__ellipse-2 {
  background: #ffffff;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 865px;
  top: 2658px;
}
.div___35 {
  color: #194dd2;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 897px;
  top: 2674px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div38 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 956px;
  top: 2640px;
  width: 468px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div-38-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.div-38-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div___10 {
  position: absolute;
  inset: 0;
}
.div__div39 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 478px;
  top: 2358px;
  width: 401px;
}
.div__div40 {
  width: 304px;
  height: 50.8px;
  position: static;
}
.div__rectangle-27 {
  background: #194dd2;
  border-radius: 36px;
  width: 304px;
  height: 50.8px;
  position: absolute;
  left: 478px;
  top: 2643px;
}
.div__div41 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 497.25px;
  top: 2656.55px;
  width: 213.81px;
  height: 24.55px;
}
.div__line-253 {
  margin-top: -3px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px 0 0 0;
  width: 65px;
  height: 0px;
  position: absolute;
  left: 478px;
  top: 2575px;
}
.div__group-302 {
  width: 548px;
  height: 566px;
  position: static;
}
.div__line-62 {
  margin-top: -2px;
  border-width: 2px 0 0 0;
  border-style: dashed;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 47.471773624420166%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  opacity: 0.5;
  width: 566px;
  height: 0px;
  position: absolute;
  left: 907.15px;
  top: 2804px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.div__ellipse-12 {
  background: #ffffff;
  border-radius: 50%;
  width: 83.33px;
  height: 80.72px;
  position: absolute;
  left: 865px;
  top: 2321.57px;
}
.div___16 {
  color: #194dd2;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 900.29px;
  top: 2336.77px;
  width: 13.72px;
  height: 51.28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div42 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 954.21px;
  top: 2305.43px;
  width: 458.79px;
  height: 113.01px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div-42-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.div-42-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__ellipse-32 {
  background: #194dd2;
  border-radius: 50%;
  width: 83.33px;
  height: 80.72px;
  position: absolute;
  left: 865px;
  top: 2479.21px;
}
.div___28 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 896.37px;
  top: 2494.41px;
  width: 20.59px;
  height: 51.28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div___1002 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 954.21px;
  top: 2463.07px;
  width: 448.01px;
  height: 112.06px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._1002-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
._1002-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__ellipse-22 {
  background: #ffffff;
  border-radius: 50%;
  width: 83.33px;
  height: 80.72px;
  position: absolute;
  left: 865px;
  top: 2636.86px;
}
.div___36 {
  color: #194dd2;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 896.37px;
  top: 2652.05px;
  width: 20.59px;
  height: 51.28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div43 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 954.21px;
  top: 2619.77px;
  width: 458.79px;
  height: 112.06px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div-43-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.div-43-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.div__rectangle-55 {
  width: 1452px;
  height: 904px;
  position: absolute;
  left: 404px;
  top: 3px;
  object-fit: cover;
}
.div__rectangle-59 {
  background: #3367e3;
  width: 468px;
  height: 117px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div__div44 {
  width: 10px;
  height: 70px;
  position: static;
}
.div__ellipse-122 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 1341px;
  top: 464px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.div__ellipse-13 {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 1341px;
  top: 434px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.div__ellipse-14 {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 1341px;
  top: 404px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.div__div45 {
  width: 1221px;
  height: 117px;
  position: static;
}
.div__rectangle-58 {
  background: #000000;
  width: 1221px;
  height: 117px;
  position: absolute;
  left: 375px;
  top: 0px;
}
.div__div46 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 496.77px;
  top: 45.34px;
  width: 133.84px;
  height: 29px;
}
.div__div47 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 640.48px;
  top: 45px;
  width: 117.38px;
  height: 29px;
}
.div__div48 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 760.4px;
  top: 45.34px;
  width: 92.15px;
  height: 29px;
}
.div__div49 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 880.05px;
  top: 45.34px;
  width: 84.47px;
  height: 29px;
}
.div__f-a-q2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 992.76px;
  top: 45.34px;
  width: 55.95px;
  height: 29px;
}
.div__div50 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 1079.68px;
  top: 44.44px;
  width: 103.12px;
  height: 29px;
}
.div__rectangle-28 {
  border-radius: 36px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 300px;
  height: 60px;
  position: absolute;
  left: 483px;
  top: 687px;
}
.div__div51 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 522px;
  top: 703px;
  width: 222px;
  height: 29px;
}
.div__div52 {
  width: 878px;
  height: 380px;
  position: static;
}
.div__it {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 52px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 483px;
  top: 240px;
  width: 878px;
  height: 217px;
}
.div__div53 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 22px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 486px;
  top: 509px;
  width: 792px;
  height: 111px;
}
.div__div54 {
  width: 468px;
  height: 907px;
  position: static;
}
.div__rectangle-56 {
  background: #194dd2;
  width: 468px;
  height: 907px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div__vector-17 {
  width: 0px;
  height: 59.5px;
  position: absolute;
  left: 193px;
  top: 543.8px;
  overflow: visible;
}
.div__div55 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 93px;
  top: 381.26px;
  width: 282px;
  height: 100.33px;
}
.div__div56 {
  width: 344.17px;
  height: 117px;
  position: static;
}
.div__rectangle-65 {
  background: #194dd2;
  width: 344.17px;
  height: 117px;
  position: absolute;
  left: 1198.07px;
  top: 0px;
}
.div__div57 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 1269.23px;
  top: 45px;
  width: 186.8px;
  height: 28.52px;
}
.div___8 {
  position: absolute;
  inset: 0;
}
.div__image-16 {
  border-radius: 5px;
  width: 297.29px;
  height: 326px;
  position: absolute;
  left: 830.31px;
  top: 6232px;
  object-fit: cover;
}
.div__image-20 {
  border-radius: 5px;
  width: 596.53px;
  height: 226px;
  position: absolute;
  left: 830.47px;
  top: 6577px;
  object-fit: cover;
}
.div__div58 {
  width: 308.02px;
  height: 60.74px;
  position: static;
}
.div__rectangle-29 {
  background: #0a51cb;
  border-radius: 36px;
  width: 20.08%;
  height: 0.73%;
  position: absolute;
  right: 71.06%;
  left: 8.86%;
  bottom: 18.28%;
  top: 80.99%;
}
.div__div59 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  right: 76.1%;
  left: 13.9%;
  width: 10%;
  bottom: 18.46%;
  top: 81.19%;
  height: 0.35%;
}
.div___37 {
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 138.91px;
  top: 6377px;
  width: 672.82px;
}
._37-span {
  color: #000000;
}
._37-span2 {
  color: #0a51cb;
}
.div__div60 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 133px;
  top: 6261px;
  width: 556.7px;
}
.div__line-262 {
  margin-top: -3px;
  border-style: solid;
  border-color: #0a51cb;
  border-width: 3px 0 0 0;
  width: 63.57px;
  height: 0px;
  position: absolute;
  left: 138.95px;
  top: 6339px;
}
.div__group-46 {
  width: 282.62px;
  height: 326px;
  position: static;
}
.div__image-17 {
  background: #0a51cb;
  border-radius: 5px;
  width: 282.62px;
  height: 326px;
  position: absolute;
  left: 1144.23px;
  top: 6229px;
}
.div__div61 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 38px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 1163.76px;
  top: 6417px;
  width: 256.59px;
}
.div___7 {
  position: absolute;
  inset: 0;
}
.div__div62 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 654.53px;
  top: 5527px;
  width: 664.24px;
}
.div-62-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.div-62-span2 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.div-62-span3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.div__div63 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 663.54px;
  top: 5713px;
  width: 704.55px;
  height: 82px;
}
.div__div64 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 400;
  position: absolute;
  left: 663.54px;
  top: 5818px;
  width: 785.46px;
}
.div-64-span {
  color: #000000;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.div-64-span2 {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
}
.div-64-span3 {
  color: #0a51cb;
  font-family: "Montserrat-Regular", sans-serif;
}
.div__div65 {
  width: 462.79px;
  height: 60px;
  position: static;
}
.div__rectangle-210 {
  background: #0a51cb;
  border-radius: 36px;
  width: 462.79px;
  height: 60px;
  position: absolute;
  left: 730.64px;
  top: 6022px;
}
.div__div66 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 161.9%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 738.88px;
  top: 6038px;
  width: 393.73px;
  height: 29px;
}
.div__image-15 {
  border-radius: 5px;
  width: 299.97px;
  height: 326px;
  position: absolute;
  left: 348.76px;
  top: 5512px;
  object-fit: cover;
}
.div__image-19 {
  border-radius: 5px;
  width: 615.74px;
  height: 226px;
  position: absolute;
  left: 33px;
  top: 5856px;
  object-fit: cover;
}
.div__group-45 {
  width: 291.09px;
  height: 326px;
  position: static;
}
.div__image-18 {
  background: #0a51cb;
  border-radius: 5px;
  width: 291.09px;
  height: 326px;
  position: absolute;
  left: 33px;
  top: 5512px;
}
.div__div67 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 51.75px;
  top: 5687px;
  width: 270.37px;
}
.div___6 {
  position: absolute;
  inset: 0;
}
.div__line-242 {
  margin-top: -3px;
  border-style: solid;
  border-color: #133f8d;
  border-width: 3px 0 0 0;
  width: 70.51px;
  height: 0px;
  position: absolute;
  left: 661.79px;
  top: 4822.9px;
}
.div__div68 {
  color: #133f8d;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 527.28px;
  top: 4771px;
  width: 421.99px;
  height: 25.95px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div__div69 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 42px;
  line-height: 128.9%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 462.19px;
  top: 4845.01px;
  width: 611.83px;
  height: 51.9px;
}
.div___17 {
  width: 312.42px;
  height: 297.95px;
  position: static;
}
.div__image-22 {
  background: #ffffff;
  border-radius: 5px;
  width: 312.42px;
  height: 297.95px;
  position: absolute;
  left: 52px;
  top: 5008px;
  box-shadow: 56px 20px 45px 1px rgba(0, 0, 0, 0.1);
}
.div__div70 {
  width: 3.62%;
  height: 0.67%;
  position: absolute;
  right: 86.06%;
  left: 10.32%;
  bottom: 37.71%;
  top: 61.62%;
  overflow: visible;
}
.div__div71 {
  color: rgba(25, 77, 210, 0.2);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 96.48px;
  top: 5166.59px;
  width: 215.88px;
  height: 25.95px;
}
.div__div72 {
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 113.83px;
  top: 5197.34px;
  width: 194.18px;
  height: 30.76px;
}
.div___29 {
  width: 357px;
  height: 312.82px;
  position: static;
}
.div__image-23 {
  background: #ffffff;
  border-radius: 5px;
  width: 357px;
  height: 312.82px;
  position: absolute;
  left: 322px;
  top: 5014px;
  box-shadow: 56px 20px 45px 1px rgba(0, 0, 0, 0.1);
}
.div__div73 {
  width: 3.63%;
  height: 0.65%;
  position: absolute;
  right: 66.98%;
  left: 29.4%;
  bottom: 37.56%;
  top: 61.79%;
  overflow: visible;
}
.div__div74 {
  color: #194dd2;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 370.98px;
  top: 5180.1px;
  width: 238.37px;
  height: 24.92px;
}
.div__div75 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 356.83px;
  top: 5209.63px;
  width: 274.28px;
  height: 29.53px;
}
.div___38 {
  width: 312.42px;
  height: 297.95px;
  position: static;
}
.div__image-24 {
  background: #ffffff;
  border-radius: 5px;
  width: 312.42px;
  height: 297.95px;
  position: absolute;
  left: 612px;
  top: 5004px;
  box-shadow: 56px 20px 45px 1px rgba(0, 0, 0, 0.1);
}
.div__div76 {
  width: 3.62%;
  height: 0.67%;
  position: absolute;
  right: 47.72%;
  left: 48.66%;
  bottom: 38.03%;
  top: 61.29%;
  overflow: visible;
}
.div__div77 {
  color: rgba(25, 77, 210, 0.2);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 644px;
  top: 5157px;
  width: 210.45px;
  height: 25.95px;
}
.div__ico {
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 644px;
  top: 5193px;
  width: 203.94px;
  height: 30.76px;
}
.div___42 {
  width: 312.42px;
  height: 297.95px;
  position: static;
}
.div__image-25 {
  background: #ffffff;
  border-radius: 5px;
  width: 312.42px;
  height: 297.95px;
  position: absolute;
  left: 838px;
  top: 5004px;
  box-shadow: 56px 20px 45px 1px rgba(0, 0, 0, 0.1);
}
.div__div78 {
  width: 3.62%;
  height: 0.67%;
  position: absolute;
  right: 31.94%;
  left: 64.45%;
  bottom: 37.96%;
  top: 61.37%;
  overflow: visible;
}
.div__div79 {
  color: rgba(25, 77, 210, 0.2);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 884.65px;
  top: 5162.59px;
  width: 210.45px;
  height: 25.95px;
}
.div__vr {
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 886.82px;
  top: 5193.34px;
  width: 201.77px;
  height: 30.76px;
}
.div___52 {
  width: 312.42px;
  height: 297.95px;
  position: static;
}
.div__image-26 {
  background: #ffffff;
  border-radius: 5px;
  width: 312.42px;
  height: 297.95px;
  position: absolute;
  left: 1092px;
  top: 5004px;
  box-shadow: 56px 20px 45px 1px rgba(0, 0, 0, 0.1);
}
.div__div80 {
  width: 3.62%;
  height: 0.67%;
  position: absolute;
  right: 14.95%;
  left: 81.44%;
  bottom: 37.96%;
  top: 61.37%;
  overflow: visible;
}
.div__div81 {
  color: rgba(25, 77, 210, 0.2);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  left: 1102.85px;
  top: 5162.59px;
  width: 210.45px;
  height: 25.95px;
}
.div___5-g {
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 1108.27px;
  top: 5193.34px;
  width: 266.86px;
  height: 30.76px;
}
